@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Cabin&family=Fredoka&family=Gloria+Hallelujah&family=Luckiest+Guy&display=swap');

body {
  background-color: #eaeaea;
  font-family: 'Poppins', sans-serif;
  color: #2d2d2d;
  font-size: 14px;
}
.card:hover {
  border: 1px solid #2d2d2d;
}
